.rotate {
  animation: rotation 3s infinite linear;
}

.spinner-container {
  width: 18px;
  height: 18px;
}

.rotate-fast {
  animation: rotation 1s infinite linear;
}

.rotate-fastest {
  animation: rotation 0.7s infinite linear;
}

.flash {
  animation: flash 2s infinite linear;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
