.shadow-main {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.primary-button {
  background: #0879e1;
  box-shadow: 0px 2px 4px rgba(0, 20, 163, 0.2);
  color: white;
}

.secondary-button {
  background: #ababab;
  box-shadow: 0px 2px 4px rgba(0, 20, 163, 0.2);
  color: white;
}
