@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
}

.header1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 4px;
  color: rgb(27, 27, 27);
}

.header3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  color: rgb(27, 27, 27);
}

.header4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
  color: rgb(27, 27, 27);
}

.body {
  font-size: 16px;
  font-weight: 500;
  color: rgb(22, 22, 22);
}

.caption {
  font-size: 14px;
  color: rgb(131, 131, 131);
}

.bodyText {
  font-size: 16px;
  color: rgb(61, 61, 61);
}

.fullstretchButton {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.fullstretchButton:hover {
  opacity: 0.85;
  transition: 0.2s;
}

.fullstretchButton:focus {
  outline: none;
}

.title-container {
  padding: 12px 0 12px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
